@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}

#titulo{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: rgb(44, 46, 48); 

}

#subtitulo{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  18px;
    color: rgb(44, 46, 48);  

}

body{
    background-color: #F0F8FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #222125; 
    margin: auto;
    /*caso dê erro em algo, eu mudei o width, que estava em 50% para 100% */
    width: 100%; 
    text-align: center;

    background-color: #064D64;

    background-image: url(background.png) ;
    background-position: 0px 22px;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 92vh;   

    
}
.grafico{
    border: 3px solid;
    width: 1000px; 
    height: 300px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 8px;
}

.info{
    color: rgba(230, 230, 230, 0.644);
    border-radius: 5px;
    background-color: rgba(250, 250, 252, 0);
    width: 450px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.divSobre{
    border: 0.1px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(250, 250, 252, 0.7);
    width: 1080px;
    padding: 25px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.divNomes{
    border: 0.1px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(250, 250, 252, 0.3);
    width: 1080px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.divCadastro, .divRUD {     
    border: 3px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 30px;
    background-color: rgba(250, 250, 252, 0.6);
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.divPeriodoAtual{
    border: 3px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 30px;
    background-color: rgba(231, 219, 45, 0.6);
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.divTextoFila{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  18px;
    color: rgb(1, 12, 22);
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(213, 226, 181, 0.644);
    width: 1100px;
    padding-top: 7px; 
    padding-bottom: 7px; 
    margin-left: auto;
    margin-right: auto;
}

.exibePeriodoAtual{
    border: 3px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 30px;
    background-color: rgba(250, 251, 252, 0.6);
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.botaoEditar{
    font-size: 1em;
    color: #222125;
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(240, 212, 52, 0.9);
    text-decoration: none;
    width: 150px;
    padding: 3px 10px 3px 10px;
    margin-left: auto;
    margin-right: auto;
}
.botaoEditar:hover{
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    background-color: rgb(228, 217, 159);
    border-radius: 5px;
}

.botaoExcluir{
    font-size: 1em;
    color: #222125;
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(240, 42, 42, 0.9);
    text-decoration: none;
    width: 150px;
    padding: 3px 10px 3px 10px;
    margin-left: auto;
    margin-right: auto;
}
.botaoExcluir:hover{
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    background-color: rgb(228, 159, 159);
    border-radius: 5px;
}

.botaoConfirmar{
    font-size: 1em;
    color: #222125;
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(42, 240, 58, 0.9);
    text-decoration: none;
    width: 150px;
    padding: 3px 10px 3px 10px;
    margin-left: auto;
    margin-right: auto;
}
.botaoConfirmar:hover{
    border: 2px solid;
    border-color: rgba(0, 0, 0);
    background-color: rgb(159, 228, 159);
    border-radius: 5px;
}

.confirmar{

    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    text-align: center;
    border-radius: 10px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 300px;
    padding: 22px 40px;

}

.confirmarSenha{

    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    text-align: center;
    border-radius: 10px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 450px;
    padding: 22px 40px;

}




input{

    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    border: none;
    text-align: center;
    border-radius: 10px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 300px;
    padding: 10px 50px;
    
}

input:hover{
    background: #c7c7c7;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    border: none;
    color: #202020;
    border-radius: 8px;
    transition-duration: 0.4s;
}

input #novaSenha{
    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    text-align: center;
    border-radius: 7px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 300px;
    padding: 10px 50px;
}

.inputPesquisa{
    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    border: none;
    color: #c7c8c9;
    text-align: center;
    border-radius: 7px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 250px;
    padding: 7px 50px;
}

select{

    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    text-align: center;
    border-radius: 12px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 410px;
    padding: 10px 50px;
   
}
select:hover{
    background: #c7c7c7;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: #202020;
    border-radius: 9px;
    transition-duration: 0.4s;
}

.inputCadastro, .inputEditar, .inputLogin{
    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    border: none;
    color: #c7c8c9;
    text-align: center;
    border-radius: 7px;
    block-size: 30px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 250px;
    padding: 10px 100px;
}

.selectCadastro, .selectEditar{
    background-color: rgb(65, 69, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #c7c8c9;
    text-align: center;
    border-radius: 7px;
    size: 150px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 450px;
    padding: 10px 50px;
}

label{
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #202020;
    text-align: center;
    
    
}

fieldset{
    border: 0ch;
}

#form-pesquisa{
    /*margin-right: 55%;*/    
    margin-left: 15px;
    margin-top: 0px;
    /*float: left;
    position: relative;
    */
}

.botaoPesquisa{
    background-color: rgb(0, 89, 161);
    font-size: 20px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    size: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 10px 10px;
    
}

.botaoPesquisaMaior{
    background-color: rgb(0, 89, 161);
    font-size: 20px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    size: 200px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 10px 10px;
}


#botaoCadastro, #botaoSenhaAtual, #botaoAlterarSenha {
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 168px;
  }

#botaoCadastro:hover, #botaoAlterarDados:hover, #botaoExcluirDados:hover,
#botaoSenhaAtual:hover, #botaoAlterarSenha:hover {
    background: #c7c7c7;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: #202020;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botaoPesquisa:hover .botaoPesquisaMaior:hover{
    background: #c7c7c7;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: #202020;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#botaoAlterarDados{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 35px;

}
#botaoExcluirDados{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 35px;
  }
  
  #botaoMatricular1{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 130px;
  }

  #botaoMatricular2{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 110px;
  }

  #botaoVisualizarHistorico{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 122px;
  }
  .botaoLogin{
    background-color: rgb(0, 89, 161);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;  
    padding: 10px 190px;
}

  #botaoMatricular1:hover, #botaoMatricular2:hover, #botaoVisualizarHistorico:hover, #botaoLogin:hover{
    background: #c7c7c7;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: #202020;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.titleSite{
    font-family: Arial;
    font-size: 4.25em; 
    font-weight: normal;  
    padding-bottom: 30px;         
}





  /* ------------------- Menu ------------------- */

  body #menu ul{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    
}

#menu{
    background-color: rgb(37, 37, 39);
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    /*float: left;*/
    display: inline;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background .4s;
}

li a:hover,
.dropdown:hover .dropbtn {
    border-radius: 3px;
    background: #c7c7c7;
    text-shadow: none;
    color: #202020;
    transition-duration: 0.8s;
}

.sair, a:hover{
    background-color: rgb(24, 139, 233);
    border-radius: 2px;
    
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background-color:silver;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}







/* ------------------- Menu Inical ------------------- */


body #menuInicial ul{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    
}

#menuInicial{
    background-color: rgb(37, 37, 39);
    margin-bottom: 10px;
}

#menuInicial ul {
    max-width: 1100px;
    list-style: none;
    padding: 0;
    background-color: rgb(37, 37, 39);
}

#menuInicial ul li {
    display: inline;
}

#menuInicial ul li a {
    color: #FFF;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menuInicial ul li a:hover {
    background: #c7c7c7;
    text-shadow: none;
    color: #202020;
    border-radius: 2px;
    transition-duration: 0.8s;
}

#menuInicial ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
    border-radius: 2px;
}

#menuInicial ul li:last-child a:hover {
    background: #b8c6e4;
    text-shadow: none;
    color: #202020;
    border-radius: 2px;
    transition-duration: 0.4s;
}

#menuInicial ul ul li:last-child a {
    display: none;
}

#menuInicial ul li ul{
    position:relative;
    top:52px;
    left:791px;
    background-color: rgb(37, 37, 39);
    display:none;
}

#menuInicial ul li ul li{
    width: auto;
    display:block;
    
}

#menuInicial li:hover ul, #menu li.over ul{
    display:block;
}

#menuInicial li ul li{
    display:block;
    width:150px;
}










/*------------------- Listas -------------------*/

table {
    border-collapse: collapse;
    width: 99.25%;
    border-radius: 7.5px 7.5px 0 0;
    overflow: hidden;
}

tr{
    background-color: #e7e7e7 ;
    /*font-weight: bold;*/
}

th{
    background-color: rgb(69, 70, 70);
    color: #FFF;
}

td{
    border-bottom: 1px solid #dddddd;
}
  
th, td {
    text-align: left;
    padding: 11px 15px;
}
  
/*tr:nth-child(even){
    background-color: #c2bebe;
}*/

tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:last-of-type{
    border-bottom: 3px solid rgb(69, 70, 70);
}


/*------------------- Fila de Espera -------------------*/
.tbFilaEspera {
    font-size: 1.05em;
    min-width: 50%;
    width: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tbFilaEspera th{
    background-color: rgb(0, 89, 161); /* #009879 */
    color: #ffffff;
    text-align: left;
}

.tbFilaEspera th,
.tbFilaEspera td{
    padding: 12px 15px;
}

.tbFilaEspera tr{
    border-bottom: 1px solid #dddddd;
}

.tbFilaEspera tr:first-of-type{
    font-weight: bold;
}

.tbFilaEspera tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.tbFilaEspera tr:last-of-type{
    border-bottom: 3px solid rgb(0, 89, 161); /* #009879 */
}

.tbFilaEspera td.posicaoFE{
    font-weight: bold; 
    padding: 12px 35px;   
}

.tbFilaEspera tr.active-row{
    font-weight: bold;
    color: rgb(0, 89, 161) /* #009879 */
}






/*------------------- Botão switch on/off -------------------*/

#switch{
    display: inline-block;
    position: relative;
    width: 58px;
    vertical-align: top;
}

#switch > label {
    display: block;
    position: relative;
    height: 25px;
    background-color: #FFF;
    border: 2px solid #d9d9d9;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 60px;
}

#switch > label:before {
    content: attr(data-desliga);
    position: absolute;
    top: 0;
    right: 3px;
    width: 33px;
}

#switch > label:after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    margin: 2px;
    margin-top: 3px;
    background-color: #CCC;
    border-radius: 60px;
}

#switch > input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
}

#switch > input:checked + label {
    padding-left: 33px;
    background-color: #3fb6f2;
    border-color: #3fb6f2;
    color: #FFF;
}

#switch > input:checked + label:before {
    content: attr(data-liga);
    left: 1px;
}

#switch > input:checked + label:after {
    margin: 1px;
    margin-top: 2px;
    width: 19px;
    height: 19px;
    background-color: #FFF;
}
















